<div class="container">
  <div class="row">
    <p>
      <%= link_to t(:new), new_admin_question_path, class: "btn btn-primary" %>
    </p>
    <div class="col-md-6 col-md-offset-3 paginate">
      <%= will_paginate @questions %>
    </div>
    <table class="table table-bordered">
      <tr>
        <th>ID</th>
        <th><%= t :questions %></th>
        <th><%= t :action %></th>
      </tr>
      <%= render @questions %>
    </table>
    <div class="col-md-6 col-md-offset-3 paginate">
      <%= will_paginate @questions %>
    </div>
  </div>
</div>
