<h1><%= t :exam %></h1>
<br>

<div id="clockcontainer">
  <h3><%= t :time_left %></h3>
  <div id="countdown"></div>
</div>

<%= form_for @exam do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <%= f.hidden_field :done, value: true %>

  <%= f.fields_for :results do |builder| %>
    <%= render "result_form", f: builder %>
  <% end %>
  
  <div class="row">
    <%= f.submit t(:submit), class: "btn btn-primary", id: "submit_button", data: {confirm: t(:confirm_notification)} %>
  </div>

  <br><br><br><br><br><br>
<% end %>
